/* Initial Styles */

body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --main-color: #324651;
    --secondary-color: #ffe500;
    --section-padding: 70px;
    --main-line-height: 1.6; 
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: -1px;
}

ul{
    list-style: none;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
}

h1.main-heading{
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    color: var(--main-color);
    font-weight: 600;
    position: relative;
}

h1.main-heading::after{
    display: block;
    content: '';
    width: 100%;
    height: 13px;
    background: url("../imgs/svg/separator.svg") center center no-repeat;
}

h1.main-heading + p{
    color: #777;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    padding: 0 15px;
    line-height: var(--main-line-height);
}

.section-content{
    margin-top: 70px;
}

/* End Initial Styles */

/* Navbar */

nav.navbar,
nav.sm-navbar{
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #0000001c;
    position: sticky;
    top: 0;
    z-index: 1000000;
}

nav.navbar ul.links,
nav.sm-navbar ul.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav.navbar ul.links li a{
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    transition: .2s;
    position: relative;
    padding: 5px 10px;
}

nav.navbar ul.links li a:not(a.logo)::after{
    content: "";
    position: absolute;
    background-color: transparent;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
    height: 100%;
    width: 100%;
    transition: .2s;
    border: 1px solid var(--main-color);
}

nav.navbar ul.links li a:not(a.logo):hover::after{
    transform: translateY(-50%) scale(1);
}

nav.navbar ul.links li a:not(a.logo):hover{
    background: var(--secondary-color);
}

nav.sm-navbar{
    padding: 10px 0;
    display: none;
}

nav.sm-navbar .container{
    position: relative;
}

nav.sm-navbar ul.links{
    justify-content: space-between;
    position: relative;
}

nav.sm-navbar ul.links li.drop-icon{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

nav.sm-navbar ul.links li.drop-icon span{
    width: 22px;
    height: 2px;
    background-color: #000;
}

nav.sm-navbar ul.links .drop{
    position: relative;
}

nav.sm-navbar ul.links li.drop-icon + ul.dropdown{
    position: absolute;
    top: 100%;
    right: -4px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #0000001c;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-top-right-radius: 0;
    margin-top: 15px;
    display: none;
}

nav.sm-navbar ul.links li.drop-icon + ul.dropdown::before{
    content: "";
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    right: 0;
    width: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #f5f5f5 transparent;
}

nav.sm-navbar ul.links li.drop-icon + ul.dropdown li a{
    display: block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #0000001d;
    font-size: 14px;
    transition: .2s;
}

nav.sm-navbar ul.links li.drop-icon + ul.dropdown li a:hover{
    padding-left: 15px;
}

nav.sm-navbar ul.links .drop:hover ul.dropdown{
    display: block;
}

/* End Navbar */

/* Header */

section.header{
    background: url("../imgs/slider_background.png");
}

section.header .overlay{
    background-color: #324651d2;
    width: 100%;
    height: 100%;
    padding: var(--section-padding) 0;
}

section.header .overlay .text{
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.header .overlay .text h5.berif{
    font-size: 20px;
    font-weight: 400;
}

section.header .overlay .text h5.berif span{
    color: var(--secondary-color);
}

section.header .overlay .text h1{
    font-size: 100px;
    font-weight: 500;
    margin: 20px;
    width: fit-content;
    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

section.header .overlay .text p{
    font-size: 15px;
    line-height: var(--main-line-height);
    max-width: 700px;
}

section.header .overlay .text a{
    display: block;
    color: var(--main-color);
    padding: 7px 20px;
    text-decoration: none;
    margin-top: 25px;
    background-color: #fff;
    width: fit-content;
    border-radius: 10px;
    border: 1px solid #fff;
    font-weight: 600;
    transform: scale(1);
    transition: .2s;
    text-transform: uppercase;
}

section.header .overlay .text a:hover{
    transform: scale(1.1);
}

/* End Header */

/* Services Section */

section.services {
    padding: var(--section-padding) 0;
}

section.services .section-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

section.services .section-content .srv h2{
    margin: 10px 0;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 600;
    font-size: 20px;
}

section.services .section-content .srv p{
    font-size: 15px;
    color: #777;
    line-height: var(--main-line-height);
}

section.services .section-content .srv{
    text-align: center;
}

/* End Services Section */

/* Features Section */

section.feats{
    background: url("../imgs/services_background.png");
    background-size: cover;
    background-position: center center;
}

section.feats .overlay{
    background-color: #324651d2;
    width: 100%;
    height: 100%;
    padding: var(--section-padding) 0;
}

section.feats .overlay .container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

section.feats .overlay .container .text h2{
    font-size: 40px;
    color: var(--secondary-color);
    font-weight: 600;
    text-transform: uppercase;
}

section.feats .overlay .container .text p{
    font-size: 15px;
    margin: 20px 0;
    color: #fff;
    line-height: var(--main-line-height);
}

section.feats .overlay .container .text ul li{
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
}

section.feats .overlay .container .text ul li i{
    color: var(--secondary-color);
    margin-right: 10px;
}

section.feats .foot{
    background-color: var(--secondary-color);
    padding: 40px 0;
    /* margin-top: -130px; */
}

section.feats .foot .container{
    display: flex;
    justify-content: center;
}

section.feats .foot a{
    color: var(--main-color);
    background-color: #fff;
    border: 2px solid #fff;
    display: block;
    padding: 8px 16px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    width: fit-content;
    transition: .2s;
    transform: scale(1);
    text-transform: uppercase;
}

section.feats .foot a:hover{
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

/* End Features Section */

/* Portfolio Section */

section.portfolio{
    padding: var(--section-padding) 0;
}

section.portfolio .section-content ul.shuffle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

section.portfolio .section-content ul.shuffle li{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main-color);
    padding: 8px 16px;
    border-radius: 15px;
    transition: .2s;
    cursor: pointer;
}

section.portfolio .section-content ul.shuffle li:hover{
    background-color: var(--secondary-color);
}

section.portfolio .section-content ul.shuffle li.active{
    background-color: var(--secondary-color);
}

section.portfolio .section-content .works{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 15px;
}

section.portfolio .section-content .works .box{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

section.portfolio .section-content .foot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

section.portfolio .section-content .foot a{
    display: block;
    width: fit-content;
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    transition: .2s;
    transform: scale(1);
    border: 2px solid var(--secondary-color);
}

section.portfolio .section-content .foot a:hover{
    transform: scale(1.1);
    background-color: transparent;
}

section.portfolio .section-content .works .box img{
    max-width: 100%;
}

section.portfolio .section-content .works .box::after{
    content: attr(data-title);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    color: #000;
    padding: 15px;
    text-transform: uppercase;
    transition: .3s;
}

section.portfolio .section-content .works .box:hover::after{
    opacity: .9;
}

/* End Portfolio Section */

/* Video Part */

section.video{
    padding: var(--section-padding) 0;
    background-color: var(--secondary-color);
}

section.video .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section.video .container .video{
    width: 100%;
}

section.video .container .video iframe{
    max-width: 600px;
    height: 350px;
}

section.video .container .text{
    max-width: 100%;
}

section.video .container .text h2.title{
    color: var(--main-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px;
}

section.video .container .text p.subtitle{
    font-size: 14px;
    color: var(--main-color);
    font-weight: 500;
    font-style: italic;
    margin-bottom: 20px;
}

section.video .container .text p.description{
    font-size: 15px;
    line-height: var(--main-line-height);
    font-weight: 500;
}

section.video .container .text p.subtitle::before{
    content: "- ";
}

section.video .container .text a{
    display: block;
    width: fit-content;
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 10px;
    transition: .2s;
    border: 2px solid #fff;
    margin-top: 20px;
}

section.video .container .text a:hover{
    background-color: transparent;
}

/* End Video Part */

/* Order Part */

section.order{
    padding-top: var(--section-padding);
    background-color: var(--main-color);
    overflow: hidden;
}

section.order .text{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.order .text h2{
    font-weight: 600;
    font-size: 35px;
}

section.order .text p{
    font-style: italic;
    font-size: 15px;
    color: #b1b1b1;
    margin: 10px 0 30px;
}

section.order .text a{
    display: block;
    width: fit-content;
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 10px;
    transition: .2s;
    border: 2px solid #fff;
    transform: scale(1);
}

section.order .text a:hover{
    background-color: transparent;
    transform: scale(1.1);
    color: var(--secondary-color);
}

section.order .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.order .image{
    margin-bottom: -5%;
}

section.order .image img{
    max-width: 100%;
}

/* End Order Part */

/* About Section */

section.about{
    padding-top: var(--section-padding);
}

section.about .section-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

section.about .section-content .text h2.name{
    color: var(--secondary-color);
    font-size: 26px;
}

section.about .section-content .text p.job{
    font-size: 15px;
    color: var(--main-color);
    font-weight: 600;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 30px;
}

section.about .section-content .text p.job::before{
    content: "- ";
}

section.about .section-content .text p.bio{
    line-height: var(--main-line-height);
    color: #999;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
}

section.about .section-content .text ul.social{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: fit-content;
}

section.about .section-content .text ul.social li a{
    padding: 10px;
    color: var(--main-color);
    border-radius: 10px;
    transition: .2s;
}

section.about .section-content .text ul.social li a:hover{
    background-color: var(--secondary-color);
}

/* End About Section */

/* Skills Section */

section.skills-about{
    padding: var(--section-padding) 0;
    background-color: var(--main-color);
}

section.skills-about .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

section.skills-about .container .skills,
section.skills-about .container .about{
    width: 100%;
}

section.skills-about .container .skills h2,
section.skills-about .container .about h2{
    color: var(--secondary-color);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section.skills-about .container .skills ul.skills-list li.skill span.title{
    display: block;
    color: #fff;
    /* font-weight: 600; */
    margin: 10px 0;
    text-transform: uppercase;
}

section.skills-about .container .skills ul.skills-list li.skill span.progress-bar{
    display: block;
    width: 100%;
    background-color: #eee;
    height: 17px;
    border-radius: 10px;
    position: relative;
}

section.skills-about .container .skills ul.skills-list li.skill span.progress{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    height: 100%;
    border-radius: 10px;
}

section.skills-about .container .about p{
    color: #e1e1e1;
    line-height: var(--main-line-height);
}

/* End Skills Section */

/* Blog Section */

section.blog{
    padding: var(--section-padding) 0;
}

section.blog .section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.blog .section-content .posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 15px;
    align-items: flex-start;
}

section.blog .section-content .posts .post .image{
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

section.blog .section-content .posts .image img{
    width: 100%;
}

section.blog .section-content .posts .post:first-child{
    grid-column:span 2 ;
}

section.blog .section-content .posts .post:nth-child(2){
    grid-column:span 2 ;
}

section.blog .section-content .posts .post{
    overflow: hidden;
    width: 100%;
    border-bottom: 2px solid #c2cfd7;
}

section.blog .section-content .posts .post .body{
    padding: 20px;
    background-color: #f9f9f9;
}

section.blog .section-content .posts .post .body h2.title{
    color: var(--secondary-color);
    font-weight: 600;
}
section.blog .section-content .posts .post .body h2 a{
    color: inherit;
    text-decoration: none;
    transition: .2s;
}

section.blog .section-content .posts .post .body h2 a:hover{
    color: var(--main-color);
}

section.blog .section-content .posts .post .body span.date{
    font-size: 12px;
    color: var(--main-color);
    display: block;
    margin-bottom: 15px;
    font-style: italic;
}

section.blog .section-content .posts .post .body span.date::before{
    content: "- ";
}

section.blog .section-content .posts .post .body span.date span{
    color: #000;
    font-weight: bold;
}

section.blog .section-content .posts .post .body p.description{
    color: #777;
    font-size: 15px;
    line-height: var(--main-line-height);
    margin-bottom: 15px;
}

section.blog .section-content .posts .post .body .foot{
    display: flex;
    justify-content: flex-end;
}

section.blog .section-content .posts .post .body .foot > a:last-of-type{
    color: var(--secondary-color);
    text-decoration: none;
}

section.blog .section-content .posts .post .body .foot > a:last-of-type:hover{
    color: var(--main-color);
}

section.blog .section-content > a:last-child{
    margin-top: 60px;
    display: block;
    width: fit-content;
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    transition: .2s;
    transform: scale(1);
    border: 2px solid var(--secondary-color);
}

section.blog .section-content > a:last-child:hover{
    transform: scale(1.1);
    background-color: transparent;
}

/* End Blog Section */

/* Newsletter Section */

section.newsletter{
    padding: var(--section-padding) 0;
    background-color: var(--secondary-color);
}

section.newsletter .container{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
section.newsletter .container form{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

section.newsletter .container h1{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

section.newsletter .container form input{
    display: block;
    width: 350px;
    padding: 10px 15px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #777;
    transition: .2s;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

section.newsletter .container form button{
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    outline: none;
    letter-spacing: .5px;
    max-width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}

section.newsletter .container form input:focus{
    border-color: var(--main-color);
}

section.newsletter .container form button:hover{
    background-color: var(--main-color);
    color: #fff;
}

/* End Newsletter Section */

/* Contact Section */

section.contact{
    padding: var(--section-padding) 0;
    background-color: var(--main-color);
    color: #fff;
}

section.contact h1.main-heading,
section.contact h1.main-heading + p{
    color: inherit;
}

section.contact .section-content form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

section.contact .section-content form input,
section.contact .section-content form textarea{
    color: inherit;
    padding: 20px;
    font-size: 15px;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #eee;
    outline: none;
    border-radius: 5px;
    width: 100%;
    transition: .2s;
}

section.contact .section-content form input::placeholder,
section.contact .section-content form textarea::placeholder{
    color: #ccc;
}

section.contact .section-content form input:focus,
section.contact .section-content form textarea:focus{
    border-color: var(--secondary-color);
}

section.contact .section-content form textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 240px;
}

section.contact .section-content form .row{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

section.contact .section-content form button{
    color: var(--main-color);
    padding: 8px 16px;
    font-size: 15px;
    font-family: inherit;
    background-color: #fff;
    border: 2px solid #fff;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
    align-self: flex-start;
}

section.contact .section-content form button:hover{
    background-color: transparent;
    color: var(--secondary-color);
}

/* End Contact Section */

/* Media Queries */

@media (max-width: 410px){
    section.portfolio .section-content .works{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 767px){
    .container{
        width: 100%;
    }
    
    h1.main-heading{
        font-size: 40px;
    }

    nav.navbar{
        display: none;
    }

    nav.sm-navbar {
        display: block;
    }

    section.header .overlay .text h1{
        font-size: 60px;
    }

    section.header .overlay .text p{
        font-size: 14px;
    }

    section.header .overlay .text a{
        padding: 5px 10px;
    }

    section.feats .overlay .container{
        flex-direction: column-reverse;
    }
    
    section.feats .overlay .container .image img{
        max-width: 100%;
    }

    section.feats .foot a{
        padding: 6px 12px;
    }

    section.portfolio .section-content ul.shuffle{
        gap: 6px;
    }

    section.portfolio .section-content ul.shuffle li{
        font-size: 14px;
        padding: 6px 12px;
    }
    section.portfolio .section-content .foot a{
        padding: 6px 12px;
    }
    section.portfolio .section-content .works .box::after{
        font-size: 17px;
    }
    section.video .container{
        flex-direction: column;
    }
    section.video .container .video iframe{
        max-width: 100%;
        height: 330px;
    }
    section.video .container .text{
        padding: 20px;
        border: 1px solid #000;
        border-radius: 3px;
    }
    section.video .container .text a{
        padding: 6px 12px;
    }
    section.order .text a{
        padding: 6px 12px;
    }
    section.order .text h2{
        font-size: 25px;
    }
    section.about .section-content{
        flex-direction: column;
    }
    section.about .section-content .text{
        text-align: center;
    }
    section.about .section-content .text ul.social{
        width: 100%;
        justify-content: center;
    }
    section.about{
        padding: var(--section-padding) 0;
    }
    section.about .section-content .image img{
        max-width: 100%;
    }
    section.skills-about .container{
        flex-direction: column;
        gap: 50px;
    }
    section.blog .section-content .posts .post:first-child{
        grid-column: initial;
    }
    section.blog .section-content .posts .post:nth-child(2){
        grid-column: initial;
    }
    section.blog .section-content > a:last-child{
        padding: 6px 12px;
    }
    section.newsletter .container h1{
        font-size: 25px;
    }
    section.newsletter .container form{
        flex-direction: column;
        gap: 10px;
    }
    section.newsletter .container form input{
        width: 100%;
    }
    section.contact .section-content form .row{
        flex-direction: column;
    }
    section.contact .section-content form button{
        padding: 6px 12px;
    }
}

@media (min-width: 768px){
    .container{
        width: 720px;
    }
    section.feats .overlay .container{
        flex-direction: column-reverse;
    }
    
    section.feats .overlay .container .image img{
        max-width: 100%;
    }
    section.video .container{
        flex-direction: column;
    }
    section.video .container .video iframe{
        max-width: 100%;
        height: 500px;
    }
    section.video .container .text{
        padding: 20px;
        border: 1px solid #000;
        border-radius: 3px;
    }
    section.about .section-content{
        flex-direction: column;
    }
    section.about .section-content .text{
        text-align: center;
    }
    section.about .section-content .text ul.social{
        width: 100%;
        justify-content: center;
    }
    section.about{
        padding: var(--section-padding) 0;
    }
    section.about .section-content .image img{
        max-width: 100%;
    }
    section.skills-about .container{
        flex-direction: column;
        gap: 50px;
    }
    section.blog .section-content .posts .post:first-child{
        grid-column: initial;
    }
    section.blog .section-content .posts .post:nth-child(2){
        grid-column: initial;
    }
}

@media (min-width: 992px){
    .container{
        width: 960px;
    }
    section.feats .overlay .container{
        flex-direction: row;
    }
    section.feats .overlay .container .image img{
        max-width: initial;
    }
    section.about .section-content{
        flex-direction: row;
    }
    section.about .section-content .text{
        text-align: initial;
    }
    section.about .section-content .text ul.social{
        width: fit-content;
        justify-content: space-between;
    }
    section.about{
        padding-bottom: 0;
    }
    section.about .section-content .image img{
        max-width: initial;
    }
}

@media (min-width: 1200px){
    .container{
        width: 1140px;
    }
    section.video .container{
        flex-direction: row;
    }
    section.video .container .video iframe{
        max-width: 100%;
        height: 350px;
    }
    section.video .container .text{
        padding: 0;
        border: initial;
        border-radius: 0;
    }
    section.skills-about .container{
        flex-direction: row;
        gap: 30px;
    }
    section.blog .section-content .posts .post:first-child{
        grid-column: span 2;
    }
    section.blog .section-content .posts .post:nth-child(2){
        grid-column: span 2;
    }
}

@media (min-width: 1400px){
    .container{
        width: 1320px;
    }
}

/* End Media Queries */